/*header*/
.header {
  height: 4rem;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}

.header__title {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 0.1rem 0.2rem;
  border-radius: var(--radius-xs);
  margin-right: 1rem;
  text-transform: uppercase;
}
.header__text-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__text span {
  font-weight: 600;
}

/*hero-section*/
.hero-header {
  max-width: 100vw;
  padding-top: 24px;
}
.hero-header-container {
  max-width: 82.5rem;
  padding-inline: 0.75rem;
  margin: auto;
}
.hero-grid-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.hero-grid-item1 {
  width: 150px;
}
.hero-grid-item2 {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.facebook-link {
  padding-right: 0.92rem;
  width: 42px;
  height: 42px;
}
.a-fb {
  width: 100%;
}
.phone-link {
  width: 185px;
}
.phone {
  width: 100%;
}

.hero-container {
  max-width: 100vw;
  background-image: url(../images/background-image.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
.hero-container-childbox {
  padding-top: 48px;
  margin: auto;
  display: flex;
}
.childbox-div1 {
  flex: 1;
  padding-inline: 0.75rem;
  display: flex;
  align-items: flex-start;
}
.childbox-div1-container {
  width: 100%;
}
.hero-title {
  padding-top: 40px;
}
.hero-p {
  font-family: var(--font-size-base);
  font-weight: 400;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  margin-bottom: 24px;
}

.childbox-div2 {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.childbox-div2 img {
  max-width: 100%;
}

/*Covid Insurance */
.insurance-covid {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/section-background.svg);
  height: 460px;

  padding-top: 12rem;
}
.insurance-covid__text {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}
.insurance-covid__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  line-height: 42px;
  text-align: center;
}
.insurance-covid__description {
  line-height: var(--line-height-base);
  color: var(--text-color);
  font-size: var(--font-size-paragraph);
  max-width: 648px;
  width: 90%;
}
/*insurance-type*/
.insurance-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 85px;
}
.insurance-type__title {
  border-bottom: 1px solid var(--color-border);
}
.insurance-type__description {
  font-size: var(--font-size-paragraph);
  margin-bottom: 48px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.insurance-type__grid {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  max-width: 1296px;
  width: 91%;
  margin: 0 auto;
  margin-bottom: 100px;
  cursor: pointer;
}

.insurance-type__card:first-child img {
  width: 100%;
}

.multi-insurance-card {
  background-color: var(--color-background-card);
  border-top-right-radius: var(--radius-lg);
  border-bottom-right-radius: var(--radius-lg);
  border: 1px solid var(--color-border);
}
.single-insurace-card {
  border: 1px solid var(--color-border);
  border-top-left-radius: var(--radius-lg);
  border-bottom-left-radius: var(--radius-lg);
}
.insurance-type__card-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.insurance-type__card-text {
  font-size: 15px;
  color: var(--color-grey-text);
  line-height: var(--line-height-base);
}
.button-purchase {
  bottom: 33px;
  position: absolute;
}
.single-title {
  margin-bottom: 16px;
}

/*franchise-section  */
.franchise-section {
  display: grid;
  background-color: var(--color-hover-accordion);
  padding-top: 128px;
  padding-bottom: 80px;
}
.franchise-list {
  max-width: 1296px;
  width: 96%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 33px;
  background-image: url(../images/world.svg);
  background-repeat: no-repeat;
}
.franchise-box {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  cursor: pointer;
}
.franchise-box-first {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}
.franchise-box-first-header {
  font-size: var(--font-size-header);
  font-weight: 600;
}
.franchise-box-first p {
  color: var(--color-grey-text);
}
.franchise-detail-box {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-grey-text);
  border-radius: var(--radius-lg);
  background-color: var(--color-white);
  text-align: center;
}
.franchise-detail-box h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26.4px;
  margin-bottom: 24px;
  color: var(--color-heading);
}
.franchise-detail-box p {
  width: 66%;
}

/* Additional Coverages Section */
.additional_coverages_section {
  background: url(../images/additional_coverages_bg_img.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 60px 0 128px;
  background-position: left;
  text-align: center;
}

.additional_coverages_section .section_header {
  display: inline-block;
  border-bottom: 1px solid var(--color-border);
  padding: 32px 16px;
}

.additional_coverages_section_inner_div > p {
  max-width: 550px;
  margin: 0 auto;
  color: var(--color-grey-text);
  line-height: 1.3;
  font-size: 15px;
}

.additional_coverages_blocks_wrapper {
  border: 1px solid var(--color-border-secondary);
  border-radius: var(--radius-lg);
  background-color: var(--color-white);
  margin: 3.75rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.additional_coverages_each_block {
  /* width: 33.333%; */
  margin: 3.125rem 0 3.125rem 3.875rem;
  padding-right: 30px;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.additional_coverages_each_block:not(:nth-child(3)):not(:nth-child(7)) {
  border-right: 1px solid var(--color-border-secondary);
}

.additional_coverages_img_div {
  width: 60px;
  height: 60px;
}

.additional_coverages_img_div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.additional_coverages_heading_div h5 {
  font-size: var(--font-size-paragraph);
  color: var(--color-grey-text);
  font-weight: bold;
  text-align: left;
}

.mid_border {
  position: absolute;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--color-border-secondary);
  top: 50%;
}

p.additional_coverages_paragraph {
  color: var(--color-grey-text);
  line-height: 1.3;
  font-size: var(--font-size-subheader);
  text-align: center;
  width: 100%;
}
/* Risks Section */
.risks_section {
  text-align: center;
  padding-bottom: 12rem;
}

.sub-header {
  font-size: var(--font-size-subheader);
  color: var(--color-primary-dark);
  background-color: var(--color-heading-background);
  padding: 8px 16px;
  border-radius: var(--radius-xs);
  display: inline-block;
  margin-bottom: 1rem;
}
.risk-header {
  text-align: center;
}

.section_header {
  font-size: var(--font-size-header);
  color: var(--color-heading);
  font-weight: bold;
  word-spacing: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.section_header span {
  background: -webkit-linear-gradient(#006c41, #00bc70);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.risks_accordion_wrapper .accordion {
  display: flex;
  justify-content: space-between;
}

.risks_accordion_wrapper .accordion .accordion_each_column {
  width: 50%;
}

.risks_accordion_wrapper .accordion-item {
  width: 100%;
}

.accordion-header button {
  font-size: var(--font-size-base);
  color: var(--color-grey-text);
  font-weight: bold;
  margin-right: 1rem;
  text-align: left;
  line-height: 1.3;
  transition: 0.3s ease;
}

.accordion-header button:hover {
  background-color: var(--color-hover-accordion);
}

.accordion-collapse.show {
  background-color: var(--color-accordion-background);
}

.accordion-collapse.show + .accordion-button,
.accordion-collapse.show {
  background-color: var(--color-accordion-background);
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-accordion-background);
  color: var(--color-active-accordion-header);
  padding-top: 2.5rem;
}

.accordion-button.collapsed {
  padding-top: 3rem;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion .accordion-item .accordion-button:not(.collapsed):hover {
  background-color: var(--color-hover-accordion-header) !important;
}

.accordion-body {
  color: var(--color-grey-text);
  text-align: left;
  padding-bottom: 2rem;
  font-size: 0.938rem;
  line-height: 1.3;
  transition: 0.01s !important;
}

/*questions-section*/
.questions-section {
  max-width: 100vw;
  padding-top: 128px;
  padding-bottom: 176px;
  background-image: url("../images/questions-section-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.questions-container {
  margin: 0 auto;
  padding-inline: 12px;
}
.questions-title {
  margin: 0 auto;
  padding: 16px;
  font-size: var(--font-size-header);
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 1px solid var(--color-border);
  margin-bottom: 8px;
}
.questions-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  padding-top: 48px;
  grid-auto-rows: 1fr;
  max-width: 1296px;
  margin: 0 auto;
  align-items: stretch;
}
.questions-grid-div {
  padding: 32px;
  border: 0.89px solid rgba(112, 112, 112, 0.3);
  background-color: white;
}
.item1 {
  border-radius: var(--radius-lg) var(--radius-lg) 0 var(--radius-lg);
}
.item2 {
  border-radius: var(--radius-lg) var(--radius-lg) var(--radius-lg) 0;
}
.item3 {
  border-radius: var(--radius-lg) 0 var(--radius-lg) var(--radius-lg);
}
.item4 {
  border-radius: 0 var(--radius-lg) var(--radius-lg) var(--radius-lg);
}
.grid-item-title {
  color: var(--color-third);
  font-weight: 800;
  font-size: var(--font-size-base);
  line-height: 1.2;
  letter-spacing: 1.5px;
  padding-bottom: 32px;
}
.title1 {
  padding-bottom: 0;
}
.grid-item-text {
  font-size: 14px;
  line-height: 2;
  margin-bottom: 16px;
}
.faq-image {
  grid-row: 1 / 3;
  grid-column: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 32px;
}

.faq-image img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*blog section */
.blog-section {
  margin: 0 auto;
  margin-top: 128px;
}
.swiper {
  padding-top: var(--padding-button-lg);
  overflow: hidden;
}

.section-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-border);
}
.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
.swiper-buttons {
  display: flex;
  gap: 10px;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  width: 34px;
  height: 34px;
  padding: 4px 7px;
  border-radius: 3px;
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
  color: var(--color-white);
}
.swiper-button-next:not(.swiper-button-disabled),
.swiper-button-prev:not(.swiper-button-disabled) {
  background-color: var(--color-primary);
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: var(--padding-button-sm);
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  color: var(--color-white);
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--padding-button-sm);
  transition: transform 0.3s ease;
}

.card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--padding-button-sm);
  filter: brightness(0.6);
  transition: transform 0.3s ease;
}

.card__image:hover img {
  transform: scale(1.1) rotateZ(-5deg);
}

.card__section {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: var(--font-size-subheader);
  background-color: var(--color-primary);
  padding: 5px 7px 3px;
  border-radius: 4px;
  line-height: 16.5px;
}
.card__text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 92%;
  font-weight: 600;
  color: var(--color-white);
  transition: transform 1s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card__heading {
  line-height: 1.3;
  font-size: var(--font-size-base);
}
.card__heading::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--color-white);
  margin: 4px auto 0;
  transition: width 0.3s ease;
}

.card:hover .card__heading::after {
  width: 100%;
}

.fa-solid {
  font-size: var(--font-size-subheader);
}
.card__date-info {
  display: flex;
  align-items: center;
  gap: 6px;
}
.card__date-info p {
  font-size: var(--font-size-subheader);
}
/*Footer*/
.footer {
  padding: 40px;
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--font-size-base);
  text-align: center;
  line-height: 24px;
  margin-top: 128px;
}

.footer__logo {
  max-width: 150px;
  width: 80%;
  height: 34px;
}
