/*header*/

.header {
  height: 4rem;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-base);
}

.header__title {
  background-color: var(--color-white);
  color: var(--color-primary);
  padding: 0.1rem 0.2rem;
  border-radius: 7px;
  margin-right: 1rem;
  text-transform: uppercase;
}
.header__text-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__text span {
  font-weight: 600;
}
/*Covid Insurance */
.insurance-covid {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/section-background.svg);
  height: 460px;
  margin-top: 10rem;
  padding-top: 12rem;
}
.insurance-covid__text {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}
.insurance-covid__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  line-height: 42px;
  text-align: center;
}
.insurance-covid__description {
  line-height: var(--line-height-base);
  color: var(--text-color);
  font-size: var(--font-size-paragraph);
  max-width: 648px;
  width: 90%;
}
/*insurance-type*/
.insurance-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-top: 85px;
}

.insurance-type__description {
  font-size: var(--font-size-paragraph);
  margin-bottom: 48px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.insurance-type__grid {
  display: grid;
  grid-template-columns: 30% 30% 40%;
  max-width: 1296px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
  cursor: pointer;
}

.insurance-type__card:first-child img {
  width: 100%;
}

.multi-insurance-card {
  background-color: var(--color-background-card);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid var(--color-border);
}
.single-insurace-card {
  border: 1px solid var(--color-border);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.insurance-type__card-title {
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 8px;
}

.insurance-type__card-text {
  font-size: 15px;
  color: var(--color-grey-text);
  line-height: var(--line-height-base);
}
.button-purchase {
  bottom: 33px;
  position: absolute;
}
.single-title {
  margin-bottom: 16px;
}

/* Risks Section */
.risks_section {
  text-align: center;
  padding: 12rem 0 12rem 0;
}

.sub-header {
  font-size: var(--font-size-subheader);
  color: var(--color-primary-dark);
  background-color: var(--color-heading-background);
  padding: var(--padding-subheader) var(--radius-md);
  border-radius: var(--radius-xs);
  display: inline-block;
  margin-bottom: 1rem;
}
.risk-header {
  text-align: center;
}

.risks_section > h2 {
  font-size: var(--font-size-header);
  color: var(--color-heading);
  font-weight: bold;
  word-spacing: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.risks_section h2 span {
  background: -webkit-linear-gradient(#006c41, #00bc70);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.risks_accordion_wrapper .accordion {
  display: flex;
  justify-content: space-between;
}

.risks_accordion_wrapper .accordion .accordion_each_column {
  width: 50%;
}

.risks_accordion_wrapper .accordion-item {
  width: 100%;
}

.accordion-header button {
  font-size: var(--font-size-base);
  color: var(--color-grey-text);
  font-weight: bold;
  margin-right: 1rem;
  text-align: left;
  line-height: 1.3;
  transition: 0.3s ease;
}

.accordion-header button:hover {
  background-color: var(--color-hover-accordion);
}

.accordion-collapse.show {
  background-color: var(--color-accordion-background);
}

.accordion-collapse.show + .accordion-button,
.accordion-collapse.show {
  background-color: var(--color-accordion-background);
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-accordion-background);
  color: var(--color-active-accordion-header);
  padding-top: 2.5rem;
}

.accordion-button.collapsed {
  padding-top: 3rem;
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion .accordion-item .accordion-button:not(.collapsed):hover {
  background-color: var(--color-hover-accordion-header) !important;
}

.accordion-body {
  color: var(--color-grey-text);
  text-align: left;
  padding-bottom: 2rem;
  font-size: 0.938rem;
  line-height: 1.3;
  transition: 0.01s !important;
}

/************** Responsive - Risks Section ************/
@media (max-width: 768px) {
  .risks_section {
    padding: 6rem 0 8rem 0;
  }
}

@media (max-width: 575px) {
  .risks_section {
    padding: 6rem 0 8rem 0;
  }
}

/*Footer*/
.footer {
  padding: 40px;
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

.footer__logo {
  max-width: 150px;
  width: 80%;
  height: 34px;
}
@media (max-width: 768px) {
  .header {
    font-size: 14px;
  }
  .hero-container-childbox {
    flex-direction: column;
  }
  .insurance-type__grid {
    grid-template-columns: 1fr;
    gap: 36px;
  }
  .insurance-type__card {
    padding: 40px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 24px;
  }
  .insurance-covid__title {
    margin: 0 auto;
  }
  .button-purchase {
    position: static;
  }
  .footer {
    flex-direction: column;
    gap: 36px;
  }
  .insurance-covid__title {
    max-width: 100%;
  }
  .insurance-covid__description {
    width: 60%;
  }
}
@media (max-width: 620px) {
  .image-card {
    order: 3;
  }
  .single-insurance-card {
    order: 1;
  }
  .multi-insurance-card {
    order: 2;
  }
}
@media (max-width: 520px) {
  .header {
    font-size: 10.4px;
  }
  .header__title {
    margin-right: 0.5rem;
  }

  .footer__logo {
    max-width: 150px;
    width: 80%;
    height: 34px;
  }
}
@media (max-width: 380px) {
  .header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

/*hero-section*/
.hero-header {
  max-width: 100vw;
  padding-top: 1.5rem;
}
.hero-header-container {
  max-width: 82.5rem;

  padding-inline: 0.75rem;
  margin: auto;
}
.hero-grid-cont {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.a-fb {
  padding-right: 0.92rem;
}
.hero-grid-item2 {
  justify-self: end;
}
.hero-container {
  max-width: 100vw;
}
.hero-container-childbox {
  padding-top: 3rem;
  margin: auto;
  display: flex;
}
.childbox-div1 {
  flex: 1;
  padding-inline: 0.75rem;
  display: flex;
  align-items: center;
}
.childbox-div1-container {
  width: 100%;
}

.hero-p {
  font-family: var(--font-size-base);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 1rem;
}

.childbox-div2 {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.childbox-div2 img {
  max-width: 100%;
}
